### Atom is symlinked ###
## Ignore atom files that are not configuration
.atom/*
!.atom/config.cson
!.atom/init.coffee
!.atom/keymap.cson
!.atom/snippets.cson
!.atom/styles.less

### mpd is symlinked ###
# Ignore everything else except conf
.config/mpd/
!.config/mpd/mpd.conf