"*":
  "autocomplete-elixir":
    elixirPath: "/usr/bin"
    erlangHome: "/usr/bin"
  core:
    packagesWithKeymapsDisabled: [
      "scala-worksheet-plus"
      "move-panes"
    ]
    themes: [
      "atom-dark-ui"
      "monokai-shade"
    ]
  editor:
    showIndentGuide: true
    showInvisibles: true
  "git-diff": {}
  "haskell-ghc-mod":
    additionalPathDirectories: [
      "/home/jani/.cabal/bin/"
    ]
  "language-elm":
    elmOraclePath: "/usr/bin/elm-oracle"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-ignore": {}
  welcome:
    showOnStartup: false
".elm.source":
  editor:
    autoIndentOnPaste: true
    scrollPastEnd: true
    showIndentGuide: false
    showInvisibles: false
